<% if object.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-danger">
		<!--传入不同的实体 @user 改为 object
		pluralize(@user.errors.count, "error")-->
			The form contains <%= pluralize(object.errors.count, "error") %>.
		</div>
		<ul>
			<%= object.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>